.navbar{
    font-family: "Exo 2", sans-serif;
    background-color: transparent;
    border-radius: 30px;
   display: flex;
   gap: 7rem;
   
   margin-left: 32.3%;
   margin-top: 10px;
position: fixed;z-index: 9999;
height: fit-content;
padding: 10px;}


  
.navbar.active{
    background-color: rgba(29, 29, 29, 0.856);
}
a:hover{
    cursor: pointer;
}
a:nth-child(1){
    color: rgb(0, 89, 255);
    text-decoration: none;

}
a:nth-child(2){
    color: rgb(255, 45, 45);
}
a:nth-child(3){
    color: rgb(255, 220, 45);
}
a:hover:nth-child(1){
    color: rgb(255, 204, 0);
}
a:hover:nth-child(2){
    color: rgb(0, 115, 255);
}
a:hover:nth-child(3){
    color: rgb(255, 255, 255);
}
@media only screen and (max-width: 1200px) {
    .navbar{
        margin-left: 35%;
    }
    
    }
    @media only screen and (max-width: 769px) {
        .navbar{
            margin-left: 16%;
        }
        
        }

        @media only screen and (max-width: 426px) {
            .navbar{
               font-size: small;
               gap: 17px;
               animation: none;
               margin-left: 18%;
            }
            
            }
            @media only screen and (max-width:360px) {
                .navbar{
                    margin-left: 20%;
                }
                
                }
                @media only screen and (max-width: 320px) {
                    .navbar{
                        margin-left: 35%;
                    }
                    
                    }