*{
 margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);

}
@font-face {
   font-family: horta;
   src: url(../public/Horta\ demo.otf);
}
::-webkit-scrollbar{
   display: none;
   scroll-behavior: smooth;
}
.App{
   overflow-x: hidden;
   background-size: auto;
   background-image: url(./components/images/back.png);
}

