.contact{
  display: flex;
margin-left: 10px;
  color: black;

}
.full-contact{
  border-radius: 60px 60PX 0 0 ;
  font-family: "Exo 2", sans-serif;
  gap: 30px;
  padding: 20px 0 60px 0;
  background-color: rgba(60, 60, 60, 0.548);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left{
  border-radius: 30px 0 0 30PX;
  gap: 50px;
  padding: 0 120px 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 102, 102, 0.571);
  width: 30%;
  
  font-size: 30px;
}
.vl {
  border-left: 6px solid rgb(50, 50, 50);
  height: 550px;
}
.form{
  padding-top: 50px;
  
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right{
  border-radius: 0 30PX 30PX 0;
  display: flex;

 gap: 30px;
  font-size: 30px;
  background-color: rgba(102, 102, 102, 0.571);
  width: 60%;
  
}
.number{
  gap: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.666);
  width: 400px;
 
}
.number:hover{
  transition: 0.5s;
background-color: rgba(16, 16, 16, 0.311);
}
.email:hover{
  transition: 0.5s;
  background-color: rgba(16, 16, 16, 0.311);
  }
.location:hover{
  transition: 0.5s;
    background-color: rgba(16, 16, 16, 0.311);
    }
.email{
  height: 50px;
  font-size: medium;
  gap: 10px;
  display: flex;
align-items: center;
justify-content: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.666);
  width: 400px;
 
}.location{
  padding: 10px;
  font-size: large;
  gap: 10px;
  height: 50px;
  display: flex;
  align-items: center;
padding-left: 80PX;
background-color: rgba(0, 0, 0, 0.666);
  width: 330px;
}
.name{
  font-size: large;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.input1{
  padding: 5px;
  width: 430px;
  font-size: large;
  outline: none;
  background-color: rgba(0, 0, 0, 0.666);
  border: none;
  height: 35px;
  border-radius: 5px;
}
.input2{
text-align: left;
  width: 400px;
  padding: 12px 20px; 
  font-size: larger;
  outline: none;
  background-color: rgba(0, 0, 0, 0.666);
  border: none;
height: 170px;
  border-radius: 5px;
}
.send-email{
  gap: 5px;
  font-size: large;
  display: flex;
  flex-direction: column;
}
.message{
  gap: 5px;
  font-size: large;
  display: flex;
  flex-direction: column;
}
.submit{
  font-size: large;
  background-color: rgb(43, 152, 255);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}
.submit:hover{
  cursor: pointer;
  background-color: rgb(87, 175, 251);
}
@media screen and (max-width:1200px) {
  .left{
    margin-left: 125px;
    width: 20%;
  }
  .right{
    width: 40%;
  }
}
@media screen and (max-width:769px) {
  .contact{
    gap: 0;
    margin-left:30px;
    padding: 0;
  }
  .left{
    margin: 0;

    transform: scale(0.7);
    width: 120px;
  }
  .right{
    transform: scale(0.7);
    width: 370px;
    margin: 0;
  }
  .number{
    transform: scale(0.7);
  }
  .email{
    transform: scale(0.7);
  }
  .location{
    transform: scale(0.7);
  }
.input1{
  width: 300px;
}
.input2{
  width: 280px;
}

}
@media screen and (max-width:426px) {
 .contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: scale(0.6);
  padding: 0;
  margin: 0;
  gap: 15px;
 }
 .left{
  padding: 0px;
width: 250px;
  margin: 0;
  border-radius: 30px;
  

 }
 .form{
  width: 90px;
  margin: 0;
  gap: 0;
  padding: 0;
 }
 .vl{
  display: none;
 }
 .right{
  gap: 0;
  border-radius: 30px;
  width: 250px;
  padding: 0;
  margin: 0;
 
 }
 .number{
  margin: 0;
  padding: 0;
  transform: scale(0.5);
 }
 .email{
  transform: scale(0.5);
 }
 .location{
  transform: scale(0.5);
 }
.name{
  transform: scale(0.5);
}
.send-email{
  
  transform: scale(0.5);
}
.message{
  transform: scale(0.5);
}
.submit{
  margin-left: 80px;
  margin-bottom: 30px;
  transform: scale(0.5);
}
}